<Layouts.app flash={@flash} >
  <div class="text-4xl font-bold underline">
    Alchemist-Media-Lab-Task
  </div>

  <%= for item <- @list do %>
    <div class="inline-block m-2 p-4 border border-gray-300 rounded">
      <%= item.name %>
    </div>
  <% end %>

</Layouts.app>
